<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249787863007-uar9hcm3jjohbb8pvsu58d1436q28rch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249787863007-uar9hcm3jjohbb8pvsu58d1436q28rch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>249787863007-q079ut0jvd4m2mfkbq1ji5pk7d9t4hnf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtw--sHhdWpPLit_oF6sMPc1pMnFCy6JA</string>
	<key>GCM_SENDER_ID</key>
	<string>249787863007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hassan.myFirstFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>instax-449fd</string>
	<key>STORAGE_BUCKET</key>
	<string>instax-449fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249787863007:ios:bf526ec41d4150fb563e6a</string>
</dict>
</plist>